
<h1><%= @album.name %></h1>

Back to band: <a href="<%= bands_url(@album.band_id) %>"><%= @album.band.name %></a>

<br><br>

Tracks:
<ul>
  <% @album.tracks.each do |track| %>
  <li><a href="bands/<%= track.album.band_id %>/albums/<%= track.album_id %>/tracks/<%= track.id %>"><%= track.name %></a></li>
  <% end %>
</ul>
